* {
  box-sizing: border-box;
}

body {
  font-family: "Krub", sans-serif;
  font-size: 18px;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
  font-family: "Noto Serif SC", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", serif;
}

a {
  text-decoration: none;
  color: #6384b3;
}
a:hover {
  color: #540e33;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
